@charset "utf-8";

// reset
//@import "reset";

@import "./parts/common";

/*@import url(http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://static.go.co.kr/css/faq-v1.1.css);*/



/*----------------------------------------------------------------------*/
/*공통 서브비쥬얼*/
.contents {
	.cont-subVisual {
		background: url(http://design.autopay.co.kr/sds/namwon/img/common/subVisual.jpg) no-repeat center;	

	}
}

/*해더영역*/
.header {
	.cont-header {
		.logo {
            a {
                display: block;
            }
		}
		.gnb {
			.menu {
				> li {
					&:hover a, &.on a {
						color: $fg-blue-1;
					}
				}
			}
		}
        
        //190215 메뉴 추가
        .bk-menu {
            //@include bx-menu(#618eb4, #d0e9ff, 0 17px, #48657f, #496c8a);
            background: #5994e4;
            .btn-bk {
                color: #d0e9ff; 
                background-position: 0 17px;
            }
            .bk-list {
                > li {
                    a {
                        &:hover {
                            background: #507eb6;
                        }
                    }
                }
            }
        }
	}
}

/* rwing배너 */
.rWing {
    z-index: 2;
    position: fixed;
    margin-top: 70px;
    right: 70px;
    a {
        position: relative;
        display: block;
        img {
            
        }
    }
}