@charset "utf-8";

// common
@import "parts/common";

%row-dot {
    padding-left: 0;
    &::before {
        content: none;
    }
    &.type-1 {
	    padding-left: 12px;
        &::before {
            content: "-";
            display: inline-block;
            position: absolute;
            left: 0;
        }
    }
}

/*객실공통 안내*/
.cont-use {
	.split {
		.p-1 {
			@extend %row-dot; 
		}
	}
}