@@include('../include/_head.html', {
	"page": "main"
})

	<!--페이지 전용 Css & Script-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	
</head>
<body class="Main">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
		<section class="cf cont-visual">
			<h2 class="skip">지리산 중앙하이츠 콘도</h2>
			<div class="visual">
				<ul class="slider">
					<li class="slide slide-1">
						<figure>
							<figcaption>
								<p class="p-1">태고의 신비, 천혜의 비경이 어우러진</p>
								<p class="p-2"><strong class="fw-eb">지리산 중앙하이츠</strong> 콘도 리조트</p>
								<a href="javascript:;" class="btn-non">
									<span class="fw-eb">JUNGANG HEIGHTS</span> CONDOMINIUM
								</a>
								<p class="p-3">지리산과 남원시내가 한 눈에 들어오는 최고의 뷰를 선사합니다.</p>
							</figcaption>
						</figure>	
					</li>
					<li class="slide slide-2">
						<figure>
							<figcaption>
								<p class="p-1">아름다운 도시, 전북 남원에 위치한</p>
								<p class="p-2"><strong class="fw-eb">지리산 중앙하이츠</strong> 콘도 리조트</p>
								<a href="javascript:;" class="btn-non">
									<span class="fw-eb">JUNGANG HEIGHTS</span> CONDOMINIUM
								</a>
								<p class="p-3">천혜의 자연, 지리산의 아름다운 풍경을 내 것처럼 !</p>
							</figcaption>
						</figure>	
					</li>
				</ul>
			</div>
		</section>
		<!--//.cont-visual-->
		
		<section class="cf cont-guide">
			<div class="group guide-area">
				<div class="cf split left">
					<h3><strong>객실안내</strong> <span class="s-1"><span class="dot-l">ㅣ</span> ROOM TYPE</span></h3>
					<div class="half type-a">
						<figure><img src="http://design.autopay.co.kr/sds/namwon/img/gallery/room_18n_1.jpg" alt="18평형 일반형"></figure>
						<div class="row">
							<dl>
								<dt>18평형 일반형</dt>
								<dd>- 기준 2인 / 최대 3인</dd>
							</dl>
							<a href="../gallery/index.html" class="btn-detail">상세안내</a>
						</div>
					</div>
					<div class="half type-b">
						<figure><img src="http://design.autopay.co.kr/sds/namwon/img/gallery/room_18h_1.jpg" alt="18평형 스위트 호텔형 룸사진"></figure>
						<div class="row">
							<dl>
								<dt>18평형 스위트 호텔형</dt>
								<dd>- 기준 2인 / 최대 2인</dd>
							</dl>
							<a href="../gallery/index.html" class="btn-detail">상세안내</a>
						</div>
					</div>
					<div class="half type-a">
						<figure><img src="http://design.autopay.co.kr/sds/namwon/img/gallery/room_26n_1.jpg" alt="25평형 일반형 룸사진"></figure>
						<div class="row">
							<dl>
								<dt>26평형 일반형</dt>
								<dd>- 기준 4인 / 최대 5인</dd>
							</dl>
							<a href="../gallery/index.html" class="btn-detail">상세안내</a>
						</div>
					</div>
					<div class="half type-b">
						<figure><img src="http://design.autopay.co.kr/sds/namwon/img/gallery/room_26h_1.jpg" alt="26평형 스위트 호텔형 룸사진"></figure>
						<div class="row">
							<dl>
								<dt>26평형 스위트 호텔형</dt>
								<dd>- 기준 4인 / 최대 4인</dd>
							</dl>
							<a href="../gallery/index.html" class="btn-detail">상세안내</a>
						</div>
					</div>
				</div>
				<div class="split right">
					<h3><strong>부대시설</strong> <span class="s-1"><span class="dot-l">ㅣ</span> FACILITIES</span></h3>
					<div class="half type-a">
						<figure><img src="http://design.autopay.co.kr/sds/namwon/img/facil/facil_5.jpg" alt="세니마실 사진"></figure>
						<div class="row">
							<dl>
								<dt>세미나실</dt>
								<dd>- 300명 이용가능</dd>
							</dl>
						</div>
					</div>
					<div class="half type-b">
						<figure><img src="http://design.autopay.co.kr/sds/namwon/img/facil/facil_3.jpg" alt="로비 휴게실 사진" class="facil-1"></figure>
						<div class="row">
							<dl>
								<dt>로비 휴게실</dt>
								<dd>- 1층 프론트 앞</dd>
							</dl>
						</div>
					</div>
					<div class="half type-a">
						<figure><img src="http://design.autopay.co.kr/sds/namwon/img/facil/facil_2.jpg" alt="하이츠 마트 사진"></figure>
						<div class="row">
							<dl>
								<dt>하이츠 마트</dt>
								<dd>- 지하 1층에 위치</dd>
							</dl>
						</div>
					</div>
					<div class="half type-b">
						<figure><img src="http://design.autopay.co.kr/sds/namwon/img/facil/facil_1.jpg" alt="한식당 사진" class="facil-1"></figure>
						<div class="row">
							<dl>
								<dt>한식당</dt>
								<dd>- 지하 1층 / 단체예약 가능</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--//.cont-guide-->
	</div>
	<!--//.contents-->    

	@@include('../include/_footer.html') 
</div>

</body>
</html>